.temp{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
border-radius: 10px;
    overflow: hidden;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 100%;

}

.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border:#40D3DC;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;

}

.manual-btn:hover{
    background: #40D3DC;
}
#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;

}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}
 .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
 }

 .navigation-auto div{
    border: 1px #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
 }

 .navigation-auto div:not(:last-child){
    margin-right: 40px;
 }

 #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
 }

 #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
 }
 #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
 }
 #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
 }
 @import url("https://fonts.googleapis.com/css?family=Poppins");
/* *{
    margin: 0;
    padding: 300;
} */
/* 
html{
    box-sizing: border-box;
    font-size: 62.5%;
} */

/* * {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

.grid{
    display: grid;
    width: 114em;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    align-items: start;
}
.grid-item{
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.2s;
}
.grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0,0,0,0.5);
}
.card-img {
    display: block;
    width: 95%;
    height: 30rem;
    object-fit: cover;
}
.card-content {
    padding: 3rem;
}
.card-header{
    font-size: 3rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}
.card-text {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}
.card-btn{
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #3363ff;
    background-color: #d8e0fd;
    border:none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 0.1rem;
}
.card-btn span {
    margin-left: 1rem;
    transition: 0.2s;
}
.card-btn:hover,
.card-btn:active {
    background-color: #c2cffc;
}
.card-btn:hover span,
.card-btn:active span {
    margin-left: 1.5rem;
}

.patient-div{
    background-color: #cfe8fc;
}